.add-country-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh-92px);
  width: 100vw;
  background-color: #f5f5f5;
}

.add-country-form {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin-top: 80px;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.add-country-header {
  align-self: center;
  font-size: 40px;
  color: #019288;
  margin: 0;
}

.add-country-label {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  font-size: 20px;
}

.add-country-button-container {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 40px 0 40px;
}
