.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.no-data-text {
  font-size: 30px;
  color: #888;
  text-align: center;
  line-height: 1.5;
}
